body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-weight: 400;
   color: #000000;
   text-transform: uppercase;

   background-color: #ffffff;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.site-navigation,
.footer-logo {
  list-style: none;
}

a:hover,
a:hover,
a:hover {
  color: #81b3d2;
}

a:focus,
a:focus,
a:focus {
  color: #b2b2b2;
}

a:active,
a:active,
a:active {
  color: #88786d;
}

.welcom-text {
  background-image: url("../img/svg-sedona/intro-welcome.svg");
  width: 459px;
  height: 353px;
  background-position: top center;
  background-repeat: no-repeat;
}
.content-img {
   background-image: url("../img/canyon.jpg");
   width: 1200px;
   height: 800px;
   background-position: top center;
   background-repeat: no-repeat;

}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden {


}
