body {
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #000000;
   text-transform: uppercase;
   background-color: #ffffff;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.footer-logo {
  list-style: none;
}

a:hover,
a:hover,
a:hover {
  color: #81b3d2;
}

a:focus,
a:focus,
a:focus {
  color: #b2b2b2;
}

a:active,
a:active,
a:active {
  color: #88786d;
}

.welcom-text {
  background-image: url("../img/svg-sedona/intro-welcome.svg");
  width: 459px;
  height: 353px;
  background-position: top center;
  background-repeat: no-repeat;
}

.content-img {
   background-image: url("../img/canyon.jpg");
   width: 1200px;
   height: 773px;
   background-color: #ffffff;
   background-position: top center;
   background-repeat: no-repeat;
}

.features-subtitle {
  color: #3333333;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.appointment-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.appointment-search-btn {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 582px;
  height: 85px;
  background-color: #766357;
  text-transform: uppercase;
  border: none;
}

.appointment-search-btn:hover,
.appointment-search-btn:focus {
  background-color: #604e43;
}

.appointment-search-btn:active {
  background-color: #503e33;
}

.appointment-form-btn {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 460px;
  height: 60px;
  padding: 5px 10px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
}

.appointment-form-btn:hover {
  background-color: #669ec0;
}

.appointment-form-btn:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.appointment-form-btn:active {
  background-color: #5496bd;
}

.button {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  width: 111px;
  height: 28px;
  padding: 5px 10px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
}

.button-reservation {
  width: 145px;
  height: 30px;
  padding: 5px 10px;
  background-color: #766357;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button-detail:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-reservation:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-reservation:focus {
  color: #857871;
  background-color: #604e43;
}

.button-reservation:active {
  color: #857871;
  background-color: #503e33;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-button  {
  width: 50px;
  height: 50px;
  padding: 15px 15px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: #81b3d2;
}

.face {
  padding: 14px 18px;
}

.social-btn-svg {
  color: #ffffff;
}

.social-btn-svg:active {
  color: #88b6d1;
}

.footer-social-list {
  list-style: none;
}

.social-button:hover,
.social-button:focus{
  background-color: ##669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-logo {
  color: #231f20;
}

.footer-logo:focus {
  color: #81b3d2;
}

.footer-logo:active {
  color: #bdbbbc;
}

/*временно для сетки*/

body > * {
  background-color: rgba(255,0,0,0.3);
}
body > * > * {
  background-color: rgba(255, 255, 0,0.3);
}

html,
body {
  width: 1280px;
  min-height: 2762px;
}

body {
  background-color: #f2f2f2;
  background-size: 1200px auto;
  margin-left: 40px;
  margin-right: 40px;
}

.main-header {
  width: 1280px;
  background-color: #ffffff;
  min-height: 57px;
}

.main-navigation {
  display: flex;
  background-color: transparent;

}

.main-navigation-wrapper {
  width: 100%;
 display: flex;
 flex-direction: column;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  /*display: block;*/
  margin: auto;
  justify-content: center;
}
.site-navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-footer {
  width: 1280px;
  height: 120px;
  background-color: #fdfdfd;

}

.main-footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.hashtag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 120px;
  margin-top: 0;
  margin-left: 73px;
  margin-right: 88px;
}

.footer-social {
  display: flex;
  width: 400px;
  height: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 120px;
  margin-top: 0;
  margin-right: 73px;
  margin-right: 88px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
