body {
   width: 1280px;
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #000000;
   text-transform: uppercase;
   background-color: #f2f2f2;
   background-size: 1200px auto;
   margin-left: 40px;
   margin-right: 40px;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}
.site-navigation,
.footer-logo {
  list-style: none;
}

a:hover,
a:hover,
a:hover {
  color: #81b3d2;
}

a:focus,
a:focus,
a:focus {
  color: #b2b2b2;
}

a:active,
a:active,
a:active {
  color: #88786d;
}

.main-header {
  width: 1280px;
  min-height: 56px;
  background-color: #ffffff;
}

.main-navigation {
  width: 100%;
  display: flex;
  background-color: transparent;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.site-navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcom-text {
  background-image: url("../img/svg-sedona/intro-welcome.svg");
  width: 459px;
  height: 353px;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -228px;
}

.content-img {
   background-image: url("../img/canyon.jpg");
   width: 100%;
   height: 510px;
   background-color: #ffffff;
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 60px;
}

.features-subtitle {
  color: #333333;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.reason-item {
  width: 100%;
  min-height: 255px;
  display: flex;
  margin-top: 50px;
}

.reason-item-block {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-city {
  flex: 1;
}
.reason-item-title {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;

}

.reason-item-number,
.reason-item-description {
  color: #e9f1f7;
  font-size: 14px;
  line-height: 21px;
}

.reason-item-description {
  color: #c2d9e8;
}

.offer {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 35px;
  background-color: #ffffff;
}

.offer-item-title {
  font-size: 21px;
  line-height: 21px;
}

.offer-item-description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.img-rocks {
  flex: 1;
}

.reason-line {
  width: 100%;
  min-height: 255px;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.reason-line-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 60px;
  align-items: center;
}

.reason-line-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.sentence {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sentence-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.sentence-best {
  margin-bottom: 50px;
}
.appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment-form {
  width: 580px;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appointment-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.appointment-search-btn {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 580px;
  height: 85px;
  background-color: #766357;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.appointment-search-btn:hover,
.appointment-search-btn:focus {
  background-color: #604e43;
}

.appointment-search-btn:active {
  background-color: #503e33;
}

.appointment-form-btn {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 460px;
  height: 60px;
  padding: 5px 10px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
}

.appointment-form-btn:hover {
  background-color: #669ec0;
}

.appointment-form-btn:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.appointment-form-btn:active {
  background-color: #5496bd;
}

.button {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  width: 111px;
  height: 28px;
  padding: 5px 10px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
}

.button-reservation {
  width: 145px;
  height: 30px;
  padding: 5px 10px;
  background-color: #766357;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button-detail:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-reservation:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-reservation:focus {
  color: #857871;
  background-color: #604e43;
}

.button-reservation:active {
  color: #857871;
  background-color: #503e33;
}
.map-img {
   background-image: url("../img/map.jpg");
   width: 100%;
   height: 470px;
   background-color: #ffffff;
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}


.base-choice {
   margin: 0;
   padding: 0;
   background-image: url("../img/filter-background.jpg");
   width: 100%;
   min-height: 220px;
   background-color: #ffffff;
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
   list-style: none;
}

.infrastructure {

  width: 315px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 73px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.infrastructure-title,
.housing-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.infrastructure-option-item,
.housing-option-item {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
}

.housing {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 30px;
}



.catalog-list {
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 115px;
  padding-right: 115px;
  margin: 0;
}

.catalog-item-img {
  width: 135px;
  height: 90px;
  display: flex;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.catalog-item-description {
  display: flex;
  padding-right: 537px;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 70px;
}

.main-footer {
  width: 100%;
  height: 120px;
  background-color: #fdfdfd;
  display: flex;
  padding-left: 173px;
  padding-right: 138px;
  box-sizing: border-box;
}

.hashtag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 136px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  flex: grow;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 15px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:active {
  color: #88b6d1;
}

.footer-social-list {
  list-style: none;
}

.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-copyright {
  display: flex;
  width: 197px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-logo {
  color: #231f20;
}

.footer-logo:focus {
  color: #81b3d2;
}

.footer-logo:active {
  color: #bdbbbc;
}
